body {
  font-weight: normal;
  font-family: roboto-bold;

  text-align: center;
  margin: 0;
}

header {
  background-color: #c5cbce;
  padding: 25px;

}

header img {
  height: 300px;
  width: 450px !;
  border-radius: 50%;
  object-fit: cover;
  border: #eaf9fe solid 5px;
}

.Center {
  background-color: rgba(239, 80, 91, 0.789);
  padding: 45px;
  padding-top: 50px;
  padding-bottom: 50px;
 
}
.heading1{
 font-size: 20px
 
}
.heading2 {
  font-family: roboto-bold;
  -webkit-text-fill-color: rgb(62, 1, 183);
  font-weight: 300px;
  font-size: 50px;
 
}

h2 {
  margin-bottom: 10px;

  font-weight: 100;
}

.myheading {
  font-size: 50px;
  text-align: center;

  font-family: roboto-bold;
  -webkit-text-fill-color: rgb(62, 1, 183);
  font-weight: 600;
  
}

h3 {

  font-size: 20px;
  
}

.small {
  font-size: 15px !important;
  background-color: rgba(4, 173, 179, 0.54);
}

.article {
  background-color: #eaf9ff;
  padding: 45px;
  padding-top: 50px;
  padding-bottom: 50px;
}

div {
  background-color: rgb(101, 177, 236); 
  
}

.heading {
 
  -webkit-text-fill-color: rgb(62, 1, 183);
  font-weight: 600;
  font-size: 50px;
}

a {
  color: #000;
}

a:hover {
  color: rgb(33, 7, 138);
}
