body {
  font-weight: normal;
  font-family: roboto-bold;

  text-align: center;
  margin: 0;
}

header {
  background-color: #252525;
  padding: 50px;
}

header img {
  height: 300px;
  width: 450px !;
  border-radius: 50%;
  object-fit: cover;
  border: #eaf9fe solid 5px;
}

.Center {
  background-color: #fff;
  padding: 45px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.heading1 {
  color: #fff;
  font-size: 20px;
}
.heading2 {
  font-family: roboto-bold;
  -webkit-text-fill-color: #99d930;
  font-weight: 900px;
  font-size: 50px;
}

h2 {
  border-top: 1px solid #c4c4c4;

  display: inline-block;
  margin-bottom: 10px;

  font-weight: 100;
}

.myheading {
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid #c4c2c4;
  font-family: roboto-bold;
  -webkit-text-fill-color: #99d930;
  font-weight: 900;
}
button {
  background-color: #99d930;
  color: #252525;

  border: none;
  display: inline-block;
}
button:hover {
  background-color: #252525;
  color: #fff;
}

h3 {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;
  font-size: 20px;
}

.small {
  font-size: 10px !important;
  background-color: rgba(4, 173, 179, 0.54);
}

.article {
  color: #fff;
  background-color: #252525;
  padding: 45px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.heading {
  -webkit-text-fill-color: #99d930;
  font-weight: 900;
  font-size: 50px;
}

a {
  color: #fff;
}

a:hover {
  color: #99d930;
}
footer {
  background-color: #ffffff;
  color: #000;
}
